<div style="font-variant: small-caps; 
      font-weight: normal; 
      font-size: 40px; 
      text-align: center; 
      padding: 15px; 
      margin: 10px;">
      <font color= #5b2c6f > VictoriaSecret E-commerce Product Analysis using Python Pandas </font><br>
</div> 

<div style="font-variant: small-caps; 
      font-weight: normal; 
      font-size: 35px; 
      text-align: center; 
      padding: 15px; 
      margin: 10px;">
      -<br>
</div> 


<div style="font-variant: small-caps; 
      font-weight: normal; 
      font-size: 20px; 
      text-align: center; 
      padding: 15px; 
      margin: 10px;">
      <font color= #483D8B> Ines Yunting LU </font><br><br>
  </div>

In [1]:
import pandas as pd
import numpy as np
import zipfile

### import and unzip data files

create a kaggle account, import data files from https://www.kaggle.com/PromptCloudHQ/innerwear-data-from-victorias-secret-and-others and store them in a `data` folder

In [33]:
# # Uncomment & Execute this cell if your csv files in your data folder are zipped
# import zipfile
# with zipfile.ZipFile("data/ae_com.csv.zip","r") as zip_ref:
#     zip_ref.extractall("data")

In [4]:
def unzip_file(file):
    with zipfile.ZipFile(file,"r") as zip_ref:
        zip_ref.extractall("data")

### I. Load data into pandas dataframe

Use the **read_csv method** to load the Victoria's Secret data into pandas dataframe.

**Note:** Have a look at the pandas doc to understand the read_csv syntax

In [5]:
df = pd.read_csv('victoriassecret_com.csv')

In [ ]:
len(df), df.shape

(453386, (453386, 14))

In [ ]:
df.dtypes

product_name         object
mrp                  object
price                object
pdp_url              object
brand_name           object
product_category     object
retailer             object
description          object
rating              float64
review_count        float64
style_attributes    float64
total_sizes          object
available_size       object
color                object
dtype: object

---
Use the method iloc (see the pandas doc) on df. What do you have as output?

In [ ]:
df.iloc[0]

product_name                       Very Sexy Strappy Lace Thong Panty
mrp                                                           $14.50
price                                                         $14.50
pdp_url             https://www.victoriassecret.com/panties/shop-a...
brand_name                                          Victoria's Secret
product_category                             Strappy Lace Thong Panty
retailer                                           Victoriassecret US
description         Lots of cheek peek, pretty lace, a strappy bac...
rating                                                            NaN
review_count                                                      NaN
style_attributes                                                  NaN
total_sizes                               ["XS", "S", "M", "L", "XL"]
available_size                                                      S
color                                                     peach melba
Name: 0, dtype: object

----
Use the describe method on df. What kind of output do you get?

In [ ]:
df.describe()

              rating  review_count  style_attributes
count  137734.000000  1.377340e+05               0.0
mean        4.165819  9.202884e+35               NaN
std         0.487524  1.162929e+37               NaN
min         0.000000  2.000000e+00               NaN
25%         4.000000  3.900000e+01               NaN
50%         4.300000  1.470000e+02               NaN
75%         4.500000  4.100000e+02               NaN
max         5.000000  1.560000e+38               NaN

In [ ]:
df.describe(percentiles=[.1*i for i in range(1,10)])   # percentiles -- parameter

              rating  review_count  style_attributes
count  137734.000000  1.377340e+05               0.0
mean        4.165819  9.202884e+35               NaN
std         0.487524  1.162929e+37               NaN
min         0.000000  2.000000e+00               NaN
10%         3.600000  1.500000e+01               NaN
20%         3.900000  3.300000e+01               NaN
30%         4.000000  4.900000e+01               NaN
40%         4.200000  1.040000e+02               NaN
50%         4.300000  1.470000e+02               NaN
60%         4.400000  2.640000e+02               NaN
70%         4.400000  3.850000e+02               NaN
80%         4.500000  4.350000e+02               NaN
90%         4.600000  5.130000e+02               NaN
max         5.000000  1.560000e+38               NaN

-----
With Pandas, there are also some interesting methods that allow us to identify where you have null values (nan or empty).

Apply isnull and sum methods on df. 

What do you get?

In [ ]:
df.isnull()    # true : missing;

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,style_attributes,total_sizes,available_size,color
0,False,False,False,False,False,False,False,False,True,True,True,False,False,False
1,False,False,False,False,False,False,False,False,True,True,True,False,False,False
2,False,False,False,False,False,False,False,False,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453381,False,False,False,False,False,False,False,False,True,True,True,False,False,False
453382,False,False,False,False,False,False,False,False,True,True,True,False,False,False
453383,False,False,False,False,False,False,False,False,True,True,True,False,False,False
453384,False,False,False,False,False,False,False,False,True,True,True,False,False,False
453385,False,False,False,False,False,False,False,False,True,True,True,False,False,False

In [ ]:
df.isnull().sum()   # quick way to check whether the data is missing !

product_name             0
mrp                      0
price                    0
pdp_url                  0
brand_name               0
product_category         0
retailer                 0
description              0
rating              315652
review_count        315652
style_attributes    453386
total_sizes              0
available_size           0
color                    0
dtype: int64

---
Apply the `value_counts()` method to df considering the 'price' and 'product_name' columns

In [ ]:
df[['price']].value_counts()         # most popular prices

price
$10.50     45832
$36.50     33365
$34.50     24636
$34.95     24148
$19.99     22784
           ...
$16.95        24
$64.95        12
$59.95        12
$32.99        12
$9.95         11
Length: 96, dtype: int64

In [ ]:
df[['product_name']].value_counts()         # most popular products

product_name
Body by Victoria Perfect Coverage Bra              17922
Victoria Sport Incredible by Victoria Sport Bra    12274
Dream Angels Push-Up Bra                           11878
Very Sexy Push-Up Bra                              10985
Body by Victoria Demi Bra                          10881
                                                   ...
Very Sexy Mesh & Lace Cheeky Panty                     5
Very Sexy Embroidered Triangle Bra                     4
PINK Fresh & Clean Gym Kit                             3
PINK Coconut Waters Travel Kit                         3
Very Sexy Heart Lace Garter Belt                       2
Length: 617, dtype: int64

In [ ]:
df[['price','mrp']].value_counts()   # mrp: market retail price

price    mrp
$10.50   $10.50     45832
$36.50   $36.50     33365
$34.50   $34.50     24636
$34.95   $34.95     24148
$54.50   $54.50     18742
                    ...
$68.00   $98.00         6
$7.99    $24.50         5
$34.99   $78.00         4
$9.99    $48.00         3
$19.99   $58.00         2
Length: 209, dtype: int64

### II. Preprocess data

We are going to preprocess the dataset using the Pandas methods.

#### Step 1:

Convert `price` and `mrp` columns to numerics

First check all the values of 'mrp' and 'price' columns using value_counts().
And save them into new variables.

In [ ]:
# step1 -> check if all the value begins with $
df['price'].apply(lambda x:x[0]).value_counts()

$    452880
R       350
₡       156
Name: price, dtype: int64

In [ ]:
# step2 -> check what is the value and details eg. where use them
df[ df['price'].str.contains('R')].head(3)

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,style_attributes,total_sizes,available_size,color
222596,Dream Angels Demi Bra,Rp721.448,Rp412.118,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",34A,white
222597,Dream Angels Demi Bra,Rp721.448,Rp412.118,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",34A,nude
222598,Dream Angels Demi Bra,Rp721.448,Rp412.118,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36C,white

In [ ]:
df[ df['price'].str.contains('₡')].head(3)

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,style_attributes,total_sizes,available_size,color
100557,Body by Victoria Wireless Bra,₡24.769,₡24.769,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Wireless Bra,Victoriassecret US,"Supersoft comfort without the wires, in a plun...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",34A,Kir
100558,Body by Victoria Wireless Bra,₡24.769,₡24.769,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Wireless Bra,Victoriassecret US,"Supersoft comfort without the wires, in a plun...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36C,Kir
100559,Body by Victoria Wireless Bra,₡24.769,₡24.769,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Wireless Bra,Victoriassecret US,"Supersoft comfort without the wires, in a plun...",NaN,NaN,NaN,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36D,Kir

In [ ]:
# step3 -> convert into numerircs
def conv_dollars(x):
    if x[0] =='$':
        return float(x[1:])
    else:
        return x

df['price'].apply(conv_dollars)

0         14.5
1         14.5
2         14.5
3         14.5
4         14.5
          ...
453381    48.0
453382    48.0
453383    48.0
453384    48.0
453385    48.0
Name: price, Length: 453386, dtype: object

In [ ]:
df.head(3)

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,style_attributes,total_sizes,available_size,color
0,Very Sexy Strappy Lace Thong Panty,$14.50,$14.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",NaN,NaN,NaN,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,peach melba
1,Very Sexy Strappy Lace Thong Panty,$14.50,$14.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",NaN,NaN,NaN,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,black
2,Very Sexy Strappy Lace Thong Panty,$14.50,$14.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",NaN,NaN,NaN,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,plum dust

In [ ]:
def ext_fst_char(x):
    return x[0]

df['price'].apply(ext_fst_char)

0         $
1         $
2         $
3         $
4         $
         ..
453381    $
453382    $
453383    $
453384    $
453385    $
Name: price, Length: 453386, dtype: object

In [ ]:
price= '$49.99'
price[0], price[1:], float(price[1:])

('$', '49.99', 49.99)

In [ ]:
price= '$49.99'
converted_price = float(price[1:])
converted_price

49.99

---
Now create a function "clean_price" which takes one argument to be this first element. 

Then if this element is dollar, extract the rest of the element without the dollar. 
And if not, do a similar extraction and an additional currency conversion.

In [46]:
conv1 = 0.000061
conv2 = 0.0018
def clean_price(s):
    s0 = s[0]
    if s0 == '$' :
        return float(s[1:])
    if s0 == 'R' :
        return float(s[2:]) * conv1
    if s0 == '₡' :
        return float(s[1:]) * conv2

Apply this function to 'mrp' and 'price' columns, using apply. 

Here the **apply method** is only valid for a specific column of a dataset. 
Use **applymap** if you need to apply a function to 2 or more columns.

In [47]:
df.isnull().sum()

product_name             0
mrp                      0
price                    0
pdp_url                  0
brand_name               0
product_category         0
retailer                 0
description              0
rating              315652
review_count        315652
style_attributes    453386
total_sizes              0
available_size           0
color                    0
dtype: int64

In [48]:
df[['mrp','price']] = df[['mrp','price']].applymap(clean_price)

df[['mrp','price']]

         mrp  price
0       14.5   14.5
1       14.5   14.5
2       14.5   14.5
3       14.5   14.5
4       14.5   14.5
...      ...    ...
453381  48.0   48.0
453382  48.0   48.0
453383  48.0   48.0
453384  48.0   48.0
453385  48.0   48.0

[453386 rows x 2 columns]

----

#### Step 2:

Fill missing values by columns' medians

Apply the **median() method** to df considering the 'mrp', 'price', 'rating', 'review_count' and 'style_attributes' columns.

And put the output into a variable called medians.

In [51]:
cols = ['mrp', 'price', 'rating','review_count']

In [52]:
df[cols].median()

mrp              36.0
price            34.5
rating            4.3
review_count    147.0
dtype: float64

----

Apply the `fillna()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) to the 'mrp', 'price', 'rating' and 'review_count' columns in df, replacing nan values by medians.

Then apply again describe to this.

In [57]:
medians = df[cols].median()
df[cols].fillna(value = medians).describe()

                 mrp          price         rating  review_count
count  453386.000000  453386.000000  453386.000000  4.533860e+05
mean       35.988822      32.302586       4.259237  2.795741e+35
std        14.803511      15.685789       0.275703  6.423671e+36
min         0.007132       0.007132       0.000000  2.000000e+00
25%        29.500000      19.990000       4.300000  1.470000e+02
50%        36.000000      34.500000       4.300000  1.470000e+02
75%        46.500000      42.500000       4.300000  1.470000e+02
max        98.000000      98.000000       5.000000  1.560000e+38

Apply fillna to df using inplace = True

In [62]:
medians = df[cols].median()
df.fillna(value = medians, inplace = True)
df.describe()

,mrp,price,rating,review_count,style_attributes
count,453386.000000,453386.000000,453386.000000,4.533860e+05,0.0
mean,35.988822,32.302586,4.259237,2.795741e+35,NaN
std,14.803511,15.685789,0.275703,6.423671e+36,NaN
min,0.007132,0.007132,0.000000,2.000000e+00,NaN
25%,29.500000,19.990000,4.300000,1.470000e+02,NaN
50%,36.000000,34.500000,4.300000,1.470000e+02,NaN
75%,46.500000,42.500000,4.300000,1.470000e+02,NaN
max,98.000000,98.000000,5.000000,1.560000e+38,NaN

### For further use, make a preprocess function （simplify step II)

In [ ]:
df.fillna

In [6]:
# preprocess function
def preprocess_df(df, clean_fn, price_cols, cols_to_drop, num_cols):
    df[price_cols] = df[price_cols].applymap(clean_fn)
    medians = df[num_cols].median()
    df.fillna(value=medians, inplace=True)
    df.drop(columns=cols_to_drop, inplace=True)

"""
This function preprocesses the victoriassecret_com.osv dataset:
- converts mpr and price cols into numerics
- fills missing (numeric) values by medians
- drop cols which would have too many missing values (style_attribution)
"""

'\nThis function preprocesses the victoriassecret_com.osv dataset:\n- converts mpr and price cols into numerics\n- fills missing (numeric) values by medians\n- drop cols which would have too many missing values (style_attribution)\n'

In [7]:
# clean price!
conv1 = 0.000061
conv2 = 0.0018
def clean_price(s):
    s0 = s[0]
    if s0 == '$' :
        return float(s[1:])
    if s0 == 'R' :
        return float(s[2:]) * conv1
    if s0 == '₡' :
        return float(s[1:]) * conv2

In [82]:
df = pd.read_csv('victoriassecret_com.csv')
price_cols = ['price','mrp']
cols_to_drop ='style_attributes'
num_cols =['price','mrp','review_count','rating']
preprocess_df(df,clean_price,price_cols,cols_to_drop,num_cols)

### III. Data lookup

Let's explore our data a bit further...

#### Question 1

Which product are the most expensive? what are the indices of the correponding raws and correponding products?

In [89]:
df.head(3)

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color
0,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,peach melba
1,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,black
2,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,plum dust

In [101]:

max_price_index = df['price'].max()
max_price_index

98.0

In [78]:
# my way
most_expensive_product = df.loc[max_price_index, "product_name"]
most_expensive_product

'PINK NEW! Lace Back No-Show Thong'

In [82]:
# prof's solution 1
df_max_price_index = df.loc[df['price'] == max_price_index]
df_max_price_index.shape

(143, 13)

In [83]:
df_max_price_index["product_name"].value_counts()

Very Sexy NEW! Keyhole Lace Teddy    121
Very Sexy Fishnet Lace Kimono         16
Very Sexy Fishnet Lace Dress           6
Name: product_name, dtype: int64

In [86]:
# solution 2
df.groupby('product_name').max('price').sort_values('price',ascending=False).head(3)

                                    mrp  price  rating  review_count
product_name
Very Sexy NEW! Keyhole Lace Teddy  98.0   98.0     4.5         147.0
Very Sexy Fishnet Lace Dress       98.0   98.0     4.3         147.0
Very Sexy Fishnet Lace Kimono      98.0   98.0     4.3         147.0

In [ ]:
df.groupby(
    'product_name'
).max(
    'price'
).sort_values(
    'price',ascending=False
)

Q: best rated most expensive product

In [102]:
max_price = df['price'].max()
df_max_price = df.loc[df['price'] == max_price]
max_rat = df_max_price['rating'].max()
df2 = df_max_price.loc[ df_max_price['rating' ]==max_rat]
df2.shape

(22, 13)

q(1) what color

In [106]:
# solution 1
col = df2.groupby('color').count()
col

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size
color,,,,,,,,,,,,
VS white with nude,22,22,22,22,22,22,22,22,22,22,22,22

In [107]:
# solution 2
unique_colors = df2["color"].value_counts()
unique_colors

VS white with nude    22
Name: color, dtype: int64

In [104]:
# solution 3
unique_colors = df2["color"].unique()   # unique is part of value_counts   ,   therefore it's easier to use value_counts
unique_colors

array(['VS white with nude'], dtype=object)

q(2): different sizes

In [108]:
uniq_size = df2['available_size'].value_counts()
uniq_size

34A    2
36C    2
34B    2
36D    2
34C    2
32A    2
34D    2
32B    2
32C    2
32D    2
36B    2
Name: available_size, dtype: int64

In [110]:
uniq_size1 = df2.groupby('available_size').count()
uniq_size1

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,color
available_size,,,,,,,,,,,,
32A,2,2,2,2,2,2,2,2,2,2,2,2
32B,2,2,2,2,2,2,2,2,2,2,2,2
32C,2,2,2,2,2,2,2,2,2,2,2,2
32D,2,2,2,2,2,2,2,2,2,2,2,2
34A,2,2,2,2,2,2,2,2,2,2,2,2
34B,2,2,2,2,2,2,2,2,2,2,2,2
34C,2,2,2,2,2,2,2,2,2,2,2,2
34D,2,2,2,2,2,2,2,2,2,2,2,2
36B,2,2,2,2,2,2,2,2,2,2,2,2
36C,2,2,2,2,2,2,2,2,2,2,2,2
36D,2,2,2,2,2,2,2,2,2,2,2,2

In [116]:
# just wonder the difference with the two

df3 = df2[df2["available_size"] == "32A"]
df3

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color
78845,Very Sexy NEW! Keyhole Lace Teddy,98.0,98.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Keyhole Lace Teddy,Victoriassecret US,Keep taking risks in sheer lace with delicate ...,4.5,2.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""34A"", ""34B"", ""34...",32A,VS white with nude
113217,Very Sexy NEW! Keyhole Lace Teddy,98.0,98.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Keyhole Lace Teddy,Victoriassecret US,Keep taking risks in sheer lace with delicate ...,4.5,2.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""34A"", ""34B"", ""34...",32A,VS white with nude

##### Q : all products whose price above 15 and color contains pink?

In [123]:
df4 = df[(df["price"] > 15) & (df["color"].str.contains("pink", regex = False, case=False))  # case -- means it can contain capital letters. By defailt is ture, which means 
        ].groupby('color').count()
df4.head()

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size
color,,,,,,,,,,,,
Angel Pink,75,75,75,75,75,75,75,75,75,75,75,75
Angel Pink Crochet Lace,101,101,101,101,101,101,101,101,101,101,101,101
Angel Pink Crossdye,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982
Baby Pink,36,36,36,36,36,36,36,36,36,36,36,36
Blush with Pinky Cheeks Crossdye,806,806,806,806,806,806,806,806,806,806,806,806

In [124]:
df.loc[(df["price"] > 15) & (df["color"].str.contains("pink", regex = False, case=False))]

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color
305,Dream Angels NEW! The Wicked Unlined Uplift Bra,38.5,38.5,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,The Wicked Unlined Uplift Bra,Victoriassecret US,A little lift goes a long way: the push-up wit...,4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",34DD,Sheer Pink
311,Dream Angels NEW! The Wicked Unlined Uplift Bra,38.5,38.5,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,The Wicked Unlined Uplift Bra,Victoriassecret US,A little lift goes a long way: the push-up wit...,4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",34D3,Sheer Pink
318,Dream Angels NEW! The Wicked Unlined Uplift Bra,38.5,38.5,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,The Wicked Unlined Uplift Bra,Victoriassecret US,A little lift goes a long way: the push-up wit...,4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",32DD,Sheer Pink
326,Dream Angels NEW! The Wicked Unlined Uplift Bra,38.5,38.5,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,The Wicked Unlined Uplift Bra,Victoriassecret US,A little lift goes a long way: the push-up wit...,4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",32D3,Sheer Pink
332,Dream Angels NEW! The Wicked Unlined Uplift Bra,38.5,38.5,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,The Wicked Unlined Uplift Bra,Victoriassecret US,A little lift goes a long way: the push-up wit...,4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36D3,Sheer Pink
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453371,Dream Angels NEW! Lace Mini Slip,48.0,48.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Lace Mini Slip,Victoriassecret US,"All you need is a little lace, here in the cut...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,sheer pink
453374,Dream Angels NEW! Lace Mini Slip,48.0,48.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Lace Mini Slip,Victoriassecret US,"All you need is a little lace, here in the cut...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",XL,sheer pink
453377,Dream Angels NEW! Lace Mini Slip,48.0,48.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Lace Mini Slip,Victoriassecret US,"All you need is a little lace, here in the cut...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",XS,sheer pink
453380,Dream Angels NEW! Lace Mini Slip,48.0,48.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Lace Mini Slip,Victoriassecret US,"All you need is a little lace, here in the cut...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",L,sheer pink
453383,Dream Angels NEW! Lace Mini Slip,48.0,48.0,https://www.victoriassecret.com/lingerie/shop-...,Victoria's Secret,Lace Mini Slip,Victoriassecret US,"All you need is a little lace, here in the cut...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",M,sheer pink

q(1) : distinct product name

In [140]:
df.loc[(df["price"] > 15) & (df["color"].str.contains("pink", regex = False, case=False))
        ]['product_name'].value_counts()

Dream Angels Push-Up Bra                 2244
Body by Victoria Perfect Coverage Bra    1739
Dream Angels Demi Bra                    1468
Dream Angels Multi-Way Bra               1094
Easy Push-Up Bra                          958
                                         ...
NEW! Lace Unlined Wrap Bralette             4
PINK NEW! Bonded StrappyBralette            4
PINK NEW! Baseball Hat                      3
PINK Campus Water Bottle                    3
PINK NEW! Glass Water Bottle                3
Name: product_name, Length: 139, dtype: int64

##### Q: price below 10 and color black or white

In [145]:
# solution 1 
df5 = df[
        (df["price"] <=10) 
        & (df["color"].str.contains("black" or "white",    # within contains() , have to use "or" instead of "|"
                                    regex = False, 
                                    case=False)) ]
df5

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color
960,The Bralette Collection Mesh Front-close Bralette,20.0,9.99,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Mesh Front-close Bralette,Victoriassecret US,Less is more: this little bralette is proof wi...,4.3,147.0,"[""XS"", ""S"", ""M"", ""L""]",S,Black Textured Mesh
961,The Bralette Collection Mesh Front-close Bralette,20.0,9.99,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Mesh Front-close Bralette,Victoriassecret US,Less is more: this little bralette is proof wi...,4.3,147.0,"[""XS"", ""S"", ""M"", ""L""]",S,Black Pearl Textured Mesh
963,The Bralette Collection Mesh Front-close Bralette,20.0,9.99,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Mesh Front-close Bralette,Victoriassecret US,Less is more: this little bralette is proof wi...,4.3,147.0,"[""XS"", ""S"", ""M"", ""L""]",XS,Black Textured Mesh
965,The Bralette Collection Mesh Front-close Bralette,20.0,9.99,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Mesh Front-close Bralette,Victoriassecret US,Less is more: this little bralette is proof wi...,4.3,147.0,"[""XS"", ""S"", ""M"", ""L""]",L,Black Textured Mesh
966,The Bralette Collection Mesh Front-close Bralette,20.0,9.99,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Mesh Front-close Bralette,Victoriassecret US,Less is more: this little bralette is proof wi...,4.3,147.0,"[""XS"", ""S"", ""M"", ""L""]",L,Black Pearl Textured Mesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
449708,Cotton Lingerie NEW! High-Leg Brief Panty,8.5,8.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,High-Leg Brief Panty,Victoriassecret US,"Comfy and naturally sexy in silky-soft, stretc...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",L,black dot print
449713,Cotton Lingerie NEW! High-Leg Brief Panty,8.5,8.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,High-Leg Brief Panty,Victoriassecret US,"Comfy and naturally sexy in silky-soft, stretc...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",M,black
449718,Cotton Lingerie NEW! High-Leg Brief Panty,8.5,8.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,High-Leg Brief Panty,Victoriassecret US,"Comfy and naturally sexy in silky-soft, stretc...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",M,black skinny stripe
449720,Cotton Lingerie NEW! High-Leg Brief Panty,8.5,8.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,High-Leg Brief Panty,Victoriassecret US,"Comfy and naturally sexy in silky-soft, stretc...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",M,black pearl
449721,Cotton Lingerie NEW! High-Leg Brief Panty,8.5,8.50,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,High-Leg Brief Panty,Victoriassecret US,"Comfy and naturally sexy in silky-soft, stretc...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",M,black dot print

In [142]:
# solution2
df_bw = df.loc[(df["price"] < 10) & (df["color"].str.contains("black|white", regex = False, case=False)) | (df["color"].str.contains("black", regex = False, case=False))]
df_bw['product_name'].value_counts()

Victoria Sport Knockout by Victoria Sport Front-Close Sport Bra           2940
Victoria Sport NEW! Incredible by Victoria Sport Front-close Sport Bra    2579
Victoria Sport Incredible by Victoria Sport Bra                           2558
Body by Victoria Perfect Coverage Bra                                     2416
Very Sexy NEW! Push-Up Bra                                                2414
                                                                          ...
PINK NEW! Washed Canvas Tote                                                 3
PINK NEW! Sport Duffle                                                       3
Cotton Lingerie Bikini Panty                                                 2
Very Sexy Heart Lace Garter Belt                                             2
PINK New! Wear Everywhere Multi-way Push-Up Bra                              1
Name: product_name, Length: 502, dtype: int64

In [143]:
df_bw['color'].unique()

array(['black', 'Black', 'Black Marl', 'Blackberry',
       'Black/Victoria Sport Logo Waistband',
       'White/Victoria Sport Logo/Black Waistband', 'pure black',
       'Black on Black', 'Black Lace with Nude', 'Black Textured Mesh',
       'Black Pearl Textured Mesh', 'Black Lace Mix',
       'Black with Wildflower Lace Back', 'Black Lace Back', 'Black Lace',
       'Black/White Confetti', 'Royal Sapphire/Black Mesh',
       'Black/White Blended Swirl', 'Black/Blocked Curves',
       'Black Strappy Back', 'black lace', 'black pearl',
       'black monkey print', 'Black with Chantilly Lace',
       'black skinny stripe', 'black dot print', 'black chevron print',
       'Black Crochet Lace', 'Black Scalloped Lace',
       'Black Pearl Linear Lace', 'black triangle print',
       'Black Pearl Matte', 'Black Matte', 'Black Palm Print',
       'Black Wildflower Lace',
       'Front-Close Black with Wildflower Lace Back', 'Black Pearl',
       'Black Dynasty Lace', 'Front Close Black Lace Back',
       'Black Triangle Lace Racerback', 'black scalloped',
       'black daisy lace', 'black gypsy floral print', 'Black Pearl Mesh',
       'Black Mesh', 'black tropical', 'morrocan blue with black',
       'pure black with pink graphic', 'black floral',
       'Palma Brama Black Print', 'Black w/ Metropolis',
       'Black with Metropolis Crossdye', 'Black Solid Lace',
       'black with lace trim', 'black prchid', 'Embroidered Black',
       'Black with New Nude', 'black white tropical', 'black marl',
       'black orchid', 'Black Crossdye', 'Black Pearl Lace Back',
       'Black with Metropolis', 'black palm', 'Black Wrap',
       'White/Black Mesh', 'Black Pearl/Neon Coral Mesh',
       'black lace print', 'iconic pink black dots print',
       'black floral mesh print', 'pure black embroidered',
       'black with black binding', 'neon coral with black binding',
       'bronzer with black binding', 'violet frost with black binding',
       'black and white', 'black/white marble',
       'Black with Metropolis Solid Lace',
       'black with sunset back straps', 'black pearl tiles print',
       'black rose embroidery', 'black logo', 'black exploded palm',
       'black bold logo', 'black pearl bold logo', 'black overt marl',
       'Black and White', 'Black with Nude Lace',
       'Front-Close Black Lace with Nude', 'heather silver/black waist',
       'grey marl with black straps', 'pure black hibiscus graphic',
       'black diamond squares print', 'black victoria logo',
       'Front-Close Black with Lace Back', 'Black Matte Solid',
       'Black Pearl Matte Solid', 'Black Crochet Lace Back',
       'Black Blocked Curves', 'black/rose', 'black splatter',
       'Black Splatter', 'black mix stripe',
       'black and white heart print',
       'Black Lace with Chantilly Lace Back Detail', 'black 80s print',
       'black marble', 'black with all over pink print',
       'matisse blue and black', 'Black/White Stripe',
       'Black Lace with New Nude', 'Black Monofilament',
       'front-close black', 'black crochet lace', 'Black Melange',
       'Black Strappy', 'Black Peek-a-Boo', 'Black Daisy Lace Back',
       'Black/Victoria Sport Logo', 'Black on Black Victoria Sport Logo',
       'Black Marl/Victoria Sport Logo', 'black/White logo',
       'Almost Black', 'Black w/ Black Lace', 'black mesh',
       'pure black/ infinity grey irridescent logo',
       'pure black/ mauve piecing', 'Pure Black/ irridescent logo',
       'washed pure black', 'heather charcoal/pure black',
       'Black graphic', 'black all over pink font',
       'Silver Sea with Black Pearl Crossdye',
       'Black/White Blocked Curves', 'Black Pearl/Rainbow VSX Graphic',
       'Black/Rock the Runway', 'Black/White Marl',
       'Black Traced Chevron', 'Black/White Dot Marl',
       'White/Black Victoria Sport Logo', 'Black/White Blocking',
       'Black/Red Victoria Sport Logo', 'Black Pearl/Victoria Sport Logo',
       'silver sea with black pearl crossdye', 'Black/Zig Zag',
       'Black/Mesh', 'Black Daisy Lace', 'Black Crochet Back',
       'black hearts print', 'black/pink marble print',
       'pure black logo print', 'pure black bling', 'black orchid bling',
       'pure black/ triumph white', 'pure black/ jet stream blue/ marl',
       'triumph white/pure black', 'pure black shine', 'almost black',
       'Front-Close Black', 'pure black embellished', 'black lace trim',
       'black chevron print lace trim'], dtype=object)

#### Question 2

What are the cheapest products which exists in size 36B? In which colors are they available?

###### solution1

In [13]:
df.head()

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color
0,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,peach melba
1,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,black
2,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,plum dust
3,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,ensign blue
4,Very Sexy Strappy Lace Thong Panty,14.5,14.5,https://www.victoriassecret.com/panties/shop-a...,Victoria's Secret,Strappy Lace Thong Panty,Victoriassecret US,"Lots of cheek peek, pretty lace, a strappy bac...",4.3,147.0,"[""XS"", ""S"", ""M"", ""L"", ""XL""]",S,fair orchid

In [14]:
df_c = df[
        (df["price"] == df["price"].min()) 
        & df["available_size"] == "36B"
        ]
df_c['product_name'].value_counts()

Series([], Name: product_name, dtype: int64)

In [15]:
df_c["color"].unique()

array([], dtype=object)

In [16]:
# more combined solution of above
df = df[df["available_size"] == "36B"]
min_price = df["price"].min()
df = df[df["price"] == min_price]
unique_colors = df["color"].unique()
unique_colors

array(['white', 'nude'], dtype=object)

In [17]:
# solution3 
df_36b = df.loc[df["available_size"] == "36B"]
min_price = df_36b["price"].min()
df6 = df[df["price"] == min_price]
unique_colors = df6["color"].unique()
unique_colors

array(['white', 'nude'], dtype=object)

In [18]:
df6['product_name'].value_counts()

Dream Angels Demi Bra    2
Name: product_name, dtype: int64

answer  </br>
Dream Angels Demi Bra    2 </br>
Name: product_name, dtype: int64

###### solution2

In [20]:
# solution2
df_36b = df.loc[df["available_size"] == "36B"]
minp = df_36b["price"].min()
df_36b.loc[df_36b['price'] == minp]['product_name'].value_counts()

Dream Angels Demi Bra    2
Name: product_name, dtype: int64

In [151]:
# what is the second lowest price

ps = sorted(df_36b['price'].unique())
print(ps)
ps = ps[4:]
minp = ps[0]
sd_to_min = ps[1]
minp,sd_to_min

[0.025139197999999998, 0.028945842, 0.033140934, 0.0445842, 5.0, 9.99, 12.99, 14.99, 16.99, 17.99, 19.99, 20.0, 21.99, 23.99, 24.99, 29.5, 29.99, 30.0, 32.0, 32.5, 32.95, 34.5, 34.95, 34.99, 36.0, 36.5, 38.0, 39.5, 39.99, 42.5, 44.5, 46.5, 48.0, 48.5, 49.5, 52.5, 54.5, 55.5, 58.0, 58.5, 59.5, 62.5, 64.5, 68.0, 78.0, 98.0]

(5.0, 9.99)

In [152]:
# the product name of sd lowest price 
df_36b.loc[df_36b['price'] == minp]['product_name'].value_counts()

Victoria Sport Lightweight by Victoria Sport Bra    23
Name: product_name, dtype: int64

In [154]:
df_36b.loc[df_36b['price'] == minp][['product_name','color']].value_counts()

product_name                                      color
Victoria Sport Lightweight by Victoria Sport Bra  Black                        1
                                                  Hello Lovely                 1
                                                  White                        1
                                                  Wavy Arrows                  1
                                                  Warm Spraypaint Triangles    1
                                                  Tinted Plum Mesh Curves      1
                                                  Seychelles                   1
                                                  Red Sacred Geometry          1
                                                  Red Geometric                1
                                                  Purple Rapture               1
                                                  Inkblot Colorblock           1
                                                  Grey Oasis Monofilament      1
                                                  Black Blocked Curves         1
                                                  Grey Oasis                   1
                                                  Firework Texture             1
                                                  Endless Orange               1
                                                  Cool Textile Stripe          1
                                                  Cool Rainbow Rings           1
                                                  Border Line                  1
                                                  Blue Camo Zebra              1
                                                  Black Monofilament           1
                                                  Black Marl                   1
                                                  White Colorblock             1
dtype: int64

In [25]:
df_36b['discount'] = df['mrp'] - df['price']   # add a new column 'discount'

In [26]:
df_36b.groupby('discount').max().sort_values('discount',ascending=False).head()

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color,discount_%_price
discount,,,,,,,,,,,,,,
0.018869,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,white,75.0586

divide the column

In [27]:
# new column 'discount_%_price'
df_36b['discount_%_price'] = ( df_36b['discount'] / df_36b['price'] ) *100

In [28]:
df_36b.groupby('discount_%_price').max().sort_values('discount_%_price',ascending=False).head()

df_36b

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color,discount,discount_%_price
222646,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,white,0.018869,75.0586
222647,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,nude,0.018869,75.0586

In [36]:
# solution2
df_36b[['price', 'mrp']].apply(lambda row: (row['mrp'] - row['price']) / row['mrp'], axis=1)
df_36b

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color,discount,discount_%_price
222646,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,white,0.018869,75.0586
222647,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,nude,0.018869,75.0586

In [34]:

df_36b[['price','mrp']].apply(lambda row: (row[1] -row[0])/row[1], axis=1)
df_36b

,product_name,mrp,price,pdp_url,brand_name,product_category,retailer,description,rating,review_count,total_sizes,available_size,color,discount,discount_%_price
222646,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,white,0.018869,75.0586
222647,Dream Angels Demi Bra,0.044008,0.025139,https://www.victoriassecret.com/bras/shop-all-...,Victoria's Secret,Demi Bra,Victoriassecret US,"This dreamy demi is even more heavenly, with s...",4.3,147.0,"[""32A"", ""32B"", ""32C"", ""32D"", ""32DD"", ""32DDD"", ...",36B,nude,0.018869,75.0586

We can do the same, but checking for products for which `total_sizes` contains '36B'

#### question 3

What are the most popular products? (those which have the best ratings)

What are the least popular products?

What are the products which have the highest number of reviews?

Which black color product has the highest ratings? (or your favorite color)

Which colors correspond to the highest rating?

In [53]:
# What are the most popular products? (those which have the best ratings)
df_max_rat = df[
                df['rating'] == df['rating']
                .max()
                ]
df_max_rat[
            ['product_name','rating']
            ].value_counts()

product_name                                                         rating
Victoria Sport NEW! Lightweight by Victoria Sport Strappy Sport Bra  5.0       437
Dream Angels Demi Bra                                                5.0       433
Body by Victoria Demi Bra                                            5.0       180
Everyday Perfect NEW! Hipster Panty                                  5.0        99
Everyday Perfect NEW! Textured Curved-hem Thong Panty                5.0        57
Cotton Lingerie Mesh Thong Panty                                     5.0        39
Dream Angels NEW! Lace & Mesh Cheekini Panty                         5.0        36
Very Sexy Lace & Mesh Thong Panty                                    5.0        33
Dream Angels NEW! Racerback Lace Bodysuit                            5.0        30
Very Sexy NEW! Plunge Lace-up Teddy                                  5.0        30
Very Sexy Chiffon Cami & Short Set                                   5.0        25
Dream Angels Lace-Trim Thong Panty                                   5.0        24
Very Sexy NEW! XO V-string Panty                                     5.0        21
Very Sexy NEW! Lace-up High-neck Bra                                 5.0        20
Very Sexy Satin Cami & Short Set                                     5.0        18
PINK NEW! Cropped Raglan Full-Zip                                    5.0        16
PINK Coconut Waters Travel Kit                                       5.0         1
dtype: int64

In [52]:
# What are the least popular products?
df_min_rat = df[
                df['rating'] == df['rating']
                .min()
                ]
df_min_rat[['product_name','rating']].value_counts()

product_name                             rating
PINK NEW! Embroidered Triangle Bralette  0.0       40
Dream Angels NEW! Lace Mini Slip         0.0       30
Seamless Hiphugger Panty                 0.0       22
Very Sexy Satin & Lace Cami              0.0       20
dtype: int64

In [50]:
# What are the products which have the highest number of reviews?
df_max_rev = df[
                df['review_count'] == df['review_count']
                .max()
                ]
df_max_rev[['product_name','review_count']].value_counts()

product_name                                                    review_count
Very Sexy NEW! Lace Cheekster Panty                             1.560000e+38    69
PINK NEW! Logo Lace Trim Thong                                  1.560000e+38    60
Body by Victoria NEW! Lace-trim Hiphugger Panty                 1.560000e+38    50
Allover Lace from Cotton Lingerie NEW! Dotted Mesh Thong Panty  1.560000e+38    40
Seamless Pineapple Cheekini Panty                               1.560000e+38    37
NEW! Ultimate T-Back Push-Up Sports Bra                         1.560000e+38    32
Very Sexy NEW! Lace Thong Panty                                 1.560000e+38    30
Very Sexy NEW! Lace Cutout Cheeky Panty                         1.560000e+38    29
Body by Victoria NEW! Lace-trim Thong Panty                     1.560000e+38    22
Body by Victoria NEW! Floral Lace Mix Cheeky Panty              1.560000e+38    21
Dream Angels NEW! Satin & Lace Mini Slip                        1.560000e+38    18
Cotton Lingerie Lace-waist Thong Panty                          1.560000e+38    14
Dream Angels NEW! Lace Cutout Thong Panty                       1.560000e+38    12
PINK Lace-Up Side One-Piece                                     1.560000e+38    10
PINK NEW! Lace-Up Side One-Piece                                1.560000e+38     9
Dream Angels NEW! Embroidered Mesh Bodysuit                     1.560000e+38     5
Dream Angels NEW! Lace-trim Kimono                              1.560000e+38     2
dtype: int64

In [99]:
# Which black color product has the highest ratings? (or your favorite color)
df_bk = df[df["color"].str.contains("black", regex=False, case=False)]
max_rating = df_bk['rating'].max()
df_max_rat_bk = df_bk[df_bk['rating'] == max_rating]
df_max_rat_bk[['product_name', 'color','rating']].value_counts()

product_name                                                         color                        rating
Victoria Sport NEW! Lightweight by Victoria Sport Strappy Sport Bra  Black                        5.0       117
Everyday Perfect NEW! Hipster Panty                                  black diamond squares print  5.0        15
                                                                     black overt marl             5.0        15
Dream Angels Lace-Trim Thong Panty                                   black                        5.0        14
Dream Angels NEW! Racerback Lace Bodysuit                            black                        5.0        10
Very Sexy NEW! Plunge Lace-up Teddy                                  black                        5.0        10
Everyday Perfect NEW! Hipster Panty                                  black marl                   5.0         9
Very Sexy Chiffon Cami & Short Set                                   black                        5.0         9
Dream Angels NEW! Lace & Mesh Cheekini Panty                         black                        5.0         8
Very Sexy Lace & Mesh Thong Panty                                    black                        5.0         8
Very Sexy NEW! Lace-up High-neck Bra                                 Black                        5.0         5
Very Sexy NEW! XO V-string Panty                                     black                        5.0         5
Very Sexy Satin Cami & Short Set                                     black                        5.0         4
PINK NEW! Cropped Raglan Full-Zip                                    pure black                   5.0         3
dtype: int64

In [64]:
# Which colors correspond to the highest rating?
max_rating = df['rating'].max()
df_max_rat = df[df['rating'] == max_rating]
df_max_rat[['color','rating']].value_counts()

color                            rating
Black                            5.0       122
Grey Oasis                       5.0       116
Radiating Aztec                  5.0       103
Burnished Lilac                  5.0       101
Sterling Pewter with Solid Lace  5.0        90
Cadette Green with Solid Lace    5.0        88
Rosy Mauve with Solid Lace       5.0        87
Silver Sea with Solid Lace       5.0        84
Lip Smacker with Solid Lace      5.0        84
coconut white                    5.0        70
black                            5.0        68
cadette green                    5.0        40
ensign blue                      5.0        40
faded denim                      5.0        30
ruby wine                        5.0        30
champagne floral print           5.0        30
silver sea floral print          5.0        30
ensign                           5.0        16
powder blush                     5.0        15
champagne                        5.0        15
black overt marl                 5.0        15
starlet pink marl                5.0        15
smokey pearl marl                5.0        15
plum dust                        5.0        15
coconut white geo squares print  5.0        15
nude                             5.0        15
black diamond squares print      5.0        15
peach melba                      5.0        13
chintz rose                      5.0        12
evening blush                    5.0        10
black marl                       5.0         9
floral wave print                5.0         8
ginger glaze                     5.0         8
gold wave print                  5.0         8
summer floral print              5.0         8
blue wave print                  5.0         8
indigo summer print              5.0         7
rosy mauve                       5.0         7
Fir                              5.0         5
fair orchid                      5.0         5
Teak                             5.0         5
Coconut White                    5.0         5
clay grey                        5.0         4
light pink                       5.0         3
pure black                       5.0         3
blue                             5.0         3
triumph white                    5.0         3
coconut waters                   5.0         1
dtype: int64

#### Question 4

What are the cheapest 'sport bras'?

Which have the best ratings?

In [88]:
# What are the cheapest 'sport bras'?
df_sport_bras = df[df['product_category'].str.contains('Sport Bra',regex = False, case=False)]
df_minp_sb = df_sport_bras[
                            df_sport_bras['price'] == df_sport_bras['price']
                            .min()
                            ]
df_minp_sb[['product_name','product_category','price']].value_counts()

product_name                                      product_category                   price
Victoria Sport Lightweight by Victoria Sport Bra  Lightweight by Victoria Sport Bra  5.0      320
Victoria Sport Strappy Triangle Sport Bra         Strappy Triangle Sport Bra         5.0      277
The Player Lace-Up Sport Bra                      The Player Lace-Up Sport Bra       5.0       61
dtype: int64

In [87]:
# I just want to check if the names exists in product names have different results. 
# It turns out to be same output
df_sport_bras = df[df['product_name'].str.contains('Sport Bra',regex = False, case=False)]
df_minp_sb = df_sport_bras[
                            df_sport_bras['price'] == df_sport_bras['price']
                            .min()
                            ]
df_minp_sb[['product_name','product_category','price']].value_counts()

product_name                                      product_category                   price
Victoria Sport Lightweight by Victoria Sport Bra  Lightweight by Victoria Sport Bra  5.0      320
Victoria Sport Strappy Triangle Sport Bra         Strappy Triangle Sport Bra         5.0      277
The Player Lace-Up Sport Bra                      The Player Lace-Up Sport Bra       5.0       61
dtype: int64

In [89]:
# Which have the best ratings?
df_minp_sb_max_rat = df_minp_sb[
                df_minp_sb['rating'] == df_minp_sb['rating']
                .max()
                ]
df_minp_sb_max_rat[
                ['product_name','rating']
                ].value_counts()

product_name                                      rating
Victoria Sport Lightweight by Victoria Sport Bra  4.3       320
Victoria Sport Strappy Triangle Sport Bra         4.3       173
The Player Lace-Up Sport Bra                      4.3        33
dtype: int64

#### Question 5
What is the most expensive belt? in which color is it available?

In [101]:
# What is the most expensive belt? 
df_bt = df[df['product_category'].str.contains('belt',regex = False, case=False)]
df_max_bt = df_bt[
                            df_bt['price'] == df_bt['price']
                            .max()
                            ]
df_max_bt[['product_name','color','price']].value_counts()

product_name                      color               price
Very Sexy Heart Lace Garter Belt  black hearts print  19.99    2
dtype: int64

In [102]:
# in which color is it available?
uniq_col = df_max_bt['color'].unique()
uniq_col

array(['black hearts print'], dtype=object)

#### Question 6

What is the most common color of the best rated products?

What is then the best rated product available in the most popular color?

In [97]:
# What is the most common color of the best rated products?
df_max_rat = df[df['rating'] == df['rating'].max()]
color_counts = df_max_rat.groupby('color')['color'].count().sort_values(ascending=False)
color_counts.index[0]

'Black'

In [100]:
# What is then the best rated product available in the most popular color?
df_bk = df_max_rat[df_max_rat["color"].str.contains("black", regex=False, case=False)]
max_rating = df_bk['rating'].max()
df_max_rat_bk = df_bk[df_bk['rating'] == max_rating]
df_max_rat_bk[['product_name', 'color','rating']].value_counts().index[0]

('Victoria Sport NEW! Lightweight by Victoria Sport Strappy Sport Bra',
 'Black',
 5.0)

#### bonus question
which products are the most discounted? consider the three cases of:</br>

a) USD discount between price and mrp, </br>

b) percentage of discount relative to price, </br>

c) percentage of discount relative to mrp.</br>

In [106]:
# a) USD discount between price and mrp
df['usd_disc'] = df['mrp'] - df['price'] 
df_max_dis = df[
                df['usd_disc'] == df['usd_disc']
                .max()
                ]
df_max_dis[
            ['product_name','usd_disc']
            ].value_counts()

product_name                       usd_disc
Very Sexy Lace Plunge Garter Slip  53.01       54
dtype: int64

In [107]:
# b) percentage of discount relative to price
df['usd_disc_%_price'] = ( df['usd_disc'] / df['price'] ) *100
df_max_dp = df[
                df['usd_disc_%_price'] == df['usd_disc_%_price']
                .max()
                ]
df_max_dp[
            ['product_name','usd_disc_%_price']
            ].value_counts()

product_name                                      usd_disc_%_price
Victoria Sport Lightweight by Victoria Sport Bra  490.0               320
dtype: int64

In [108]:
# c) percentage of discount relative to mrp
df['usd_disc_%_mrp'] = ( df['usd_disc'] / df['mrp'] ) *100
df_max_dm = df[
                df['usd_disc_%_mrp'] == df['usd_disc_%_mrp']
                .max()
                ]
df_max_dm[
            ['product_name','usd_disc_%_mrp']
            ].value_counts()

product_name                                      usd_disc_%_mrp
Victoria Sport Lightweight by Victoria Sport Bra  83.050847         320
dtype: int64